.footer {
  margin-bottom: 60px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  background: #545454;
}

.footer__text {
  margin-bottom: 60px;
  margin-top: 60px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  background: #545454;
}
