.header {
  margin-top: 45px;
}

.header__line {
  margin-top: 41px;
}

.logo {
  height: 33px;
  width: 173;
  padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .logo {
    width: 126px;
    height: 24px;
    padding-bottom: 0;
    padding-left: 19px;
  }

  .header {
    max-width: 100%;
    border-bottom: 1px solid #545454;
  }

  .header__line {
    max-width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .logo {
    width: 126px;
    height: 24px;
    padding-bottom: 0;
  }

  .header {
    max-width: 100%;
    border-bottom: 1px solid #545454;
  }

  .header__line {
    max-width: 100%;
  }
}
